{
	"extends": "@sapphire",
	"rules": {
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/require-await": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		]
	}
}
